* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(32, 35, 41);
  font-variant-ligatures: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  text-decoration-skip-ink: auto;

  font: 112.5% / 1.625 -apple-system, "BlinkMacSystemFont", "Segoe UI", "Roboto",
    "Helvetica", "Arial", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.text-gray {
  color: rgb(158, 158, 158);
}

li {
  list-style: none;
}

header,
main {
  background: rgb(255, 255, 255);
}

a,
button {
  text-decoration: none;
  transition: all 0.1s ease 0s;
}

a:hover,
a:focus {
  color: rgb(255, 152, 0);
}

.pagination-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  padding: 25px;
}

.pagination-btn a {
  border-radius: 6px;
  width: 45px;
  height: 45px;
  background: white;
  color: rgb(51, 51, 51);
  border: 1px solid rgb(51, 51, 51);
  transition: 0.1s;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-btn:hover a,
.pagination-btn:focus a {
  border: 1px solid rgb(255, 152, 0);
  color: rgb(255, 152, 0);
  cursor: pointer;
}

.pagination-active a,
.pagination-active:hover a,
.pagination-active:focus a {
  border: 1px solid rgb(255, 152, 0);
  background: rgb(255, 152, 0);
  color: #fff;
}
